@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 24px;
  font-family: 'Exo 2';

  .app {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: end;
      border: 1px solid lightcoral;
      border-radius: 20px;
      padding: 16px;
      width: 450px;

      input {
        margin-left: 16px;
        border: 1px solid lightcoral;
        padding: 16px;
        border-radius: 20px;

        &:focus {
          outline-color: coral;
        }
      }



      button {
        background-color: transparent;
        border: 1px solid lightcoral;
        padding: 16px;
        border-radius: 20px;
        font-family: 'Exo 2';
        font-weight: 700;

        &:hover {
          background-color: lightcoral;
          color: white;
        }
      }

      .error {
        text-align: end;
        color: red;
        height: 20px;
      }
    }

    .pictures-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      .input-file-container {
        position: relative;
        width: 250px;
        height: 250px;

        * {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
        }

        input {
          opacity: 0;

          &.dragover+.overlay {
            border-width: 3px;
            font-size: 72px;
            color: lightcoral;
          }
        }

        .overlay {
          background-color: transparent;
          border: 1px solid lightcoral;
          border-radius: 20px;
          z-index: 1;
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: lightgrey;
        }
      }

      .image-item {
        position: relative;
        place-self: center;
        width: 250px;
        height: 250px;
        text-align: center;
        display: flex;
        align-items: center;

        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
        }

        button {
          background-image: url('../svg/close.svg');
          width: 24px;
          height: 24px;
          background-color: lightcoral;
          border: 1px solid lightcoral;
          border-radius: 50%;
          padding: 15px;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: -14px;
          top: -15px;
        }
      }
    }
  }
}